**/.idea/
**/.env
**/venv/

**/node_modules/
**/public/
**/package.json
**/package-lock.json
**/README.md
**/dist/
**/db.json

**/migrations/
**/__pycache__/
*.py[cod]

**/media/
**/debug.log

**/eslint.config.js
**/postcss.config.js
**/tailwind.config.js
**/vite.config.js
**/fonts/
**/.htaccess
**/db.sqlite3

**/out/
**/target/
*iml
**/pom.xml